doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "The Lore of the Invisible Arts: " + collection.name
        script(src="card.js" defer)
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&display=swap")
        link(rel="icon", href="thewisdomtree.png", type="image/png")
    body
        div(id="header")
            button(class="button", id="leave-button", onclick="window.location.href = '/'") Back
            div
                h1= collection.name
                p= "by " + collection.author
            div(id="left-spacer")
        hr

        div(id="main", class=cards.length)
            for card in cards
                div(id=card.card_id, class="card")
                    div(class="card-inner")
                        p(class="front", class="noselect")= card.front
                        p(class="back", class="noselect", hidden) #[b #{card.back}]

            div(id="buttons")
                button(class="button", id="back-button")= "<"
                button(class="button", id="forward-button")= ">"