div(id="component-menu")
    div(class="cc-inner")
        h2= "Select a Component..."

    div(class="popup-menu")
        - let modifiedFilter = filter
        if filter.includes("m2gen5") || filter.includes("m2gen4")
            - modifiedFilter = "m2"
        else if filter.includes("sata")
            - modifiedFilter = "sata"

        each component in components[modifiedFilter]
            - let onclick = "addComponent('" + filter + "', " + JSON.stringify(component) + ")"

            if (filter.includes("m2") || filter.includes("sata"))
                - onclick = "addStorage('" + filter + "', " + JSON.stringify(component) + ")"

            div(class="component-container", id=component.id, onclick=onclick)
                img(src="assets/components/" + component.image + ".png", class="cc-image")

                div(class="cc-inner")
                    h3= component.name
                    p= component.description

        div(class="component-container", onclick="window.location.href = '/config'")
            img(src="assets/components/back.png", class="cc-image")

            div(class="cc-inner")
                h3 Cancel