doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= category.name + " | The Lighthouse Institute"
        link(rel="stylesheet", href="/style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&display=swap")
        link(rel="icon", href="/images/secretary-persistent.png")

    body
        div(id="main")
            div(id="top-bar")
                img(id="header-image" src="/images/secretary-persistent.png", onclick="window.location.href = '/home'")
                h1(id="title") The Lighthouse Institute
            hr(class="top-divider")
            div(id="category-header")
                h2(class="header-title")= category.name
                p(class="header-item")= category.description
            each thread in threads
                if thread.category_id == category.id
                    div(class="category-button", onclick=`window.location.href = '/category/${category.id}/thread/${thread.thread_id}'`)
                        div(class="category-sub")
                            h3= thread.title
                            p= "Posted " + thread.threadtimestamp + " by " + thread.username

        include footer.pug