doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | The Lighthouse Institute
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&display=swap")
        link(rel="icon", href="/images/secretary-persistent.png")

    body
        div(id="main")
            div(id="top-bar")
                img(id="header-image" src="/images/secretary-persistent.png", onclick="window.location.href = '/home'")
                h1(id="title") The Lighthouse Institute
            hr(class="top-divider")
            each category in categories
                div(class="category-button", onclick=`window.location.href = '/category/${category.id}'`)
                    div(class="category-sub")
                        h3= category.name
                        p= category.description

        div(id="logged-in-as", class="category-button")
            if active_user.iconpath != null
                img(src=`images/users/${active_user.username}.png`, alt=active_user.username, class="user-image-small")
            else 
                img(src="images/users/default.png", alt=active_user.username, class="user-image-small")
            div(id="logged-in-as-inner")
                p(class="logged-in-as-text") Logged in as:
                h3(class="logged-in-as-text")= active_user.username

        include footer.pug