doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Members | The Lighthouse Institute
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Forum&display=swap")
        link(rel="icon", href="/images/secretary-persistent.png")

    body
        div(id="main")
            div(id="top-bar")
                img(id="header-image" src="/images/secretary-persistent.png", onclick="window.location.href = '/home'")
                h1(id="title") The Lighthouse Institute
            hr(class="top-divider")
            each member in members
                div(class="category-button")
                    div(class="user-image-container")
                        if member.iconpath != null
                            img(src=`images/users/${member.username}.png`, alt=member.username, class="user-image")
                        else 
                            img(src="images/users/default.png", alt=member.username, class="user-image")
                    div(class="category-sub")
                        h3= member.username + " (joined " + member.joindate + ")"
                        p= member.bio   
        include footer.pug